<div class="page-header">
  <div class-"container">
    <div class="row">
      <div class="col-md-9">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <div class="col-md-3">
        <div class="btn-group">
      <%= link_to "Delete account", registration_path(resource_name), :class=> "btn btn-md btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>

      <%= link_to "Back", :back, :class=>"btn btn-md btn-link"%>
        </div>
    </div>
  </div>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <% if current_diner && current_group %>
    <%= link_to "Manage my groups", my_groups_path, :class=>"btn btn-md btn-info" %>
  <% else %>
    <%= link_to "Join a Group", my_groups_path, :class=>"btn btn-md btn-info" %>
  <% end %>

  <% if resource.venmo_token %>
    <% venmo_user_data = use_access_token(resource.venmo_token, resource.id).try(:[], 'data').try(:[], 'user') %>
    <div>
      <% if venmo_user_data %>
        <%= f.label :venmo_info %><br />
        <%= 'Venmo Email: ' + venmo_user_data['email'] %><br />
        <%= 'Venmo Name: ' + venmo_user_data['display_name'] %><br />
        <%= link_to 'Unlink Venmo?', venmo_unlink_path %><br />
      <% else %>
        <br>
        <div class="alert alert-danger" role="alert" width>
         <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Oh snap.</strong> Venmo API error. Please <%= link_to 'unlink Venmo', venmo_unlink_path, :class => "alert-link" %> and try to link again.<br />
        </div>
      <% end %>
    </div>
  <% else %>
    <%= link_to 'Link Venmo?', venmo_link_path, :class=>"text-venmo" %><br />
  <% end %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update Profile", :class => "btn btn-md btn-primary" %></div>
<% end %>

