<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <% if resource.venmo_token %>
    <% venmo_user_data = use_access_token(resource.venmo_token)['data']['user'] %>
    <div>
      <%= f.label :venmo_info %><br />
      <%= 'Venmo Email: ' + venmo_user_data['email'] %><br />
      <%= 'Venmo Name: ' + venmo_user_data['display_name'] %><br />
      <%= link_to 'Unlink Venmo?', venmo_unlink_path %><br />
    </div>
  <% else %>
    <%= link_to 'Link Venmo?', venmo_link_path %><br />
  <% end %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>


<%= link_to "Back", :back %>
