<%- model_class = Group -%>
<div class="page-header">
  <h1><%= @only_my_groups ? 'Your' : 'Other' %> Groups</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:admin) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <% if current_diner.current_group_id == group.id %>
          <td><%= link_to 'Current Group', diners_path %></td>
        <% elsif @only_my_groups %>
          <td><%= button_to 'View Group', change_current_group_path(group), :class => 'btn btn-mini btn-primary' %></td>
        <% else %>
          <td><%= link_to 'Join?', attempt_join_group_path(group), :class => 'btn btn-mini btn-primary' %></td>
        <% end %>

        <td><%= link_to group.name, group %></td>
        <td><%= link_to group.admin, group.admin %></td>
        <td><%=l group.created_at %></td>
        <td>
        <% if verify_yourself_or_admin(group.admin.id) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_group_path(group), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        group_path(group),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'btn btn-primary' %>

<% if @only_my_groups %>
  <%= link_to 'Find Other Groups',
              groups_path,
              :class => 'btn btn-primary' %>
<% else %>
  <%= link_to 'Switch Group View',
              my_groups_path,
              :class => 'btn btn-primary' %>
<% end %>
