<%- model_class = Diner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @diner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @diner.email %></dd>
  <dt>Balance:</dt>
  <dd>
    <% if @diner != current_diner %>
      <% balance = @diner.balance_between(current_diner.id, current_group.id) %>
      <% if balance != 0 %>
        <span class="<%= balance < 0 ? 'green' : 'red'%>"><%= number_to_currency balance.abs %></span>
      <% else %>
        <%= number_to_currency 0 %>
      <% end %>
    <% else %>
      <%= number_to_currency 0 %>
    <% end %>
  </dd>
  <div class="col-md-6">
    <h3>Meals <%= @diner.name %> is involved in</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Chef</th>
          <th>Cost of Meal</th>
          <th>Cost for Single Diner</th>
        </tr>
      </thead>
      <tbody>
        <% @diner.meals.where(group: current_group).includes(:chef).each do |meal| %>
          <tr>
            <td><%= link_to meal.name, meal %></td>
            <td><%= link_to meal.chef, meal.chef %></td>
            <% if meal.all_ingredients_finished? %>
              <td><%= number_to_currency meal.cost %></td>
              <td><%= number_to_currency meal.cost_for_single_diner %></td>
            <% else %>
              <td>Some ingredients are not finished</td>
              <td>Some ingredients are not finished</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if current_diner != @diner %>
    <div class="col-md-6">
      <h3>Your Payment History with <%= @diner.name %></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |p| %>
            <tr>
              <td><%= p.created_at %></td>
              <td>
                <%= link_to p.from, p.from %> paid <%= link_to p.to, p.to %>
                <%= number_to_currency p.amount %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              diners_path, :class => 'btn'  %>
  <% if verify_yourself_or_admin(@diner.id) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_diner_path(@diner), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                diner_path(@diner),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
