<%= form_for @ingredient, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cost, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost, :class => 'text_field' %>
    </div>
  </div>

  <!-- select a buyer from diners -->
  <div class = "control-group">
    <%= f.label :diner_id, "Buyer", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:diner_id , Diner.all, :id, :name, {:selected => @defaultDinerID}) %>

    </div>
  </div>

  <!-- TODO: hide the finished box when we get this working -->
  <div class="control-group">
    <%= f.label :finished, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :finished, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ingredients_path, :class => 'btn' %>
  </div>
<% end %>
