<%- model_class = Ingredient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:cost) %></th>
      <th><%= model_class.human_attribute_name(:finished) %></th>
      <th>Buyer</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient, ingredient %></td>
        <td><%= number_to_currency(ingredient.cost) %></td>
        <td><%= ingredient.finished ? 'Yes' : 'No' %></td>
        <td><%= link_to ingredient.diner, ingredient.diner %></td>
        <td><%= ingredient.created_at %></td>
        <td>
          <% if verify_yourself_or_group_admin(ingredient.diner.id) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_ingredient_path(ingredient), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        ingredient_path(ingredient),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure? Removing this ingredient will modify the amount charged.')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ingredient_path,
            :class => 'btn btn-primary' %>

<script type="text/javascript">
$(document).keyup(function(){
  var NEW_KEY_CODE = 78;
  if(event.keyCode === NEW_KEY_CODE){
    window.location.href = "/ingredients/new"; //redirect to new form
    event.preventDefault();
  }
});</script>

