<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ingredient.cost %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @ingredient.finished %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
