<%= form_for @meal, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @meal.errors.any? %>
    <div class = "alert alert-danger" role="alert">
      <div><b>Error(s)</b></div>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%=msg%></li>
      <% end %> 
    </div> 
  <% end %>

  <div class="control-group">
    <%= f.label :chef, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :chef, :class => 'text_field' %>
    </div>
  </div>
  <!-- select a owner from diners -->
  <div class = "control-group">
    <%= f.label :owner_id, "Owner", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:owner_id , Diner.all, :id, :name, {:selected => @defaultDinerID}) %>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :diners_attending, :class => 'control-label' %>
  </div>
  <div>
    <%= 
      f.collection_check_boxes :diner_ids, Diner.all, :id, :name do |diner|
        diner.label { diner.check_box + " " + diner.text }
      end
    %>
  </div>

  <div class="control-group">
    <%= f.label :ingredients, :class => 'control-label' %>
  </div>

  <% Ingredient.all.each do |ingredient| %>
    <%= check_box_tag "meal[ingredient_ids][]", ingredient.id, @meal.ingredients.include?(ingredient) %>
    <span><%= ingredient.name %></span>
    <%= hidden_field_tag "meal[ingredients_attributes][]", "{ id: #{ingredient.id}, finished: false }" %>
    <%= check_box_tag "meal[ingredients_attributes][]", "{ id: #{ingredient.id}, finished: true }", ingredient.finished %>
    <span>Finished?</span>
    <br>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                meals_path, :class => 'btn' %>
  </div>
<% end %>
