<div class="modal fade" id="create-meal-form" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a Meal</h4>
      </div>
      <%= form_for @meal, :html => { :class => 'form'} do |f| %>
      <div class="modal-body">
        <% if @meal.errors.any? %>
          <div class = "alert alert-danger" role="alert">
            <div><b>Error(s)</b></div>
            <% @meal.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field(:name, placeholder: "(i.e. chicken fried rice)")%>
        </div>

        <!-- select chef from available diners -->
        <div class = "form-group">
          <%= f.label :chef_id, "Chef", :class => 'control-label' %>
          <%= f.collection_select(:chef_id , Diner.all, :id, :name, {:selected => current_diner.id}) %>
        </div>

        <div class="form-group">
          <%= f.label :date, :class => 'control-label' %>
          <%= f.text_field :date, :id => 'datepicker', :value => Date.today.strftime('%m/%d/%Y') %>
        </div>

        <div class="form-group">
          <%= f.label :diners_attending, :class => 'control-label' %>
        </div>
        <div>
          <%=
            f.collection_check_boxes :diner_ids, Diner.where(id: current_group_ids).all, :id, :name do |diner|
              diner.label { diner.check_box + " " + diner.text }
            end
          %>
        </div>

        <div class="form-group">
          <%= f.label :ingredients, :class => 'control-label' %>
        </div>

        <% Ingredient.where(group: current_group, finished: [false, nil]).all.each do |ingredient| %>
          <%= check_box_tag "meal[ingredient_ids][]", ingredient.id, @meal.ingredients.include?(ingredient) %>
          <span><%= ingredient.name %></span>
          <%= hidden_field_tag "meal[ingredients_attributes][]", "{ id: #{ingredient.id}, finished: false }" %>
          <%= check_box_tag "meal[ingredients_attributes][]", "{ id: #{ingredient.id}, finished: true }", ingredient.finished %>
          <span>Finished?</span>
          </br>
        <% end %>
          
          
      </div>
        <div class="modal-footer">
        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary', :id => 'create-meal-submit' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      dashboard_path, :class => 'btn' %>
        </div>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $("#datepicker").datepicker();
  <% if @meal.date %>
    var rubydate = "<%= @meal.date.strftime('%Y-%m-%d') %>"
    var parts = rubydate.split("-");
    var dt = new Date(parseInt(parts[0], 10), // year
                parseInt(parts[1], 10) - 1, // month
                parseInt(parts[2], 10)); // day
    $("#datepicker").datepicker("setDate", dt );
  <% end %>
  <% if @show_modal %>
    $("#create-meal-form").modal();
  <% end %>
</script>

