<div class="modal fade" id="meal-form" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a Meal</h4>
      </div>
      <%= form_for @meal, remote: true, :html => { role: :form, 'data-model' => 'meal', :class => 'form', :id => 'actual-meal-form' } do |f| %>
      <div class="modal-body">
        <% if @meal.errors.any? %>
          <div class = "alert alert-danger" role="alert">
            <div><b>Error(s)</b></div>
            <% @meal.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, :class => 'control-label' %>
          <%= f.text_field(:name, placeholder: "(i.e. chicken fried rice)", class: "form-control")%>
          <span class="help-block"></span>
        </div>

        <!-- select chef from available diners -->
        <div class = "form-group">
          <%= f.label :chef_id, "Chef", :class => 'control-label' %>
          <%= f.collection_select(:chef_id , Diner.where(id: current_group_ids), :id, :name, {:selected => current_diner.id}, {class: "form-control"}) %>
          <span class="help-block"></span>
        </div>

        <div class="form-group">
          <%= f.label :date, :class => 'control-label' %>
          <%= f.text_field :date, :id => 'datepicker', :value => Time.zone.now.to_date.strftime('%m/%d/%Y'), class: "form-control" %>
          <span class="help-block"></span>
        </div>

        <div class="form-group">
          <%= f.label :diners_attending, :class => 'control-label' %>
            <%= 
              f.collection_select :diner_ids, Diner.where(id: current_group_ids), :id, :name, {}, {:"data-placeholder"=>"Add your friends", :class=>"form-control chosen chosen-select chosen-select-no-results chosen-select-no-single chosen-select-deselect", multiple: true}
            %>
          <span class="help-block"></span>
        </div>

        <% ingredients_to_choose = @meal.ingredients | Ingredient.where(group: current_group, finished: false) %>

        <div class="form-group">
          <%= f.label :ingredients, :class => 'control-label' %>
            <%= 
              f.collection_select :ingredient_ids, ingredients_to_choose, :id, :name, {}, {:"data-placeholder"=>"Add ingredients used", :class=>"form-control chosen chosen-select chosen-select-no-results chosen-select-no-single chosen-select-deselect", multiple: true}
            %>
          <span class="help-block"></span>
        </div>

        <div class="form-group">
          <%= f.label :finished_ingredients, :class => 'control-label' %>
            <%= 
              collection_select nil, :finished_ingredient_ids, ingredients_to_choose, :id, :name, {:selected => @meal.ingredients.where(finished: true).ids}, {:"data-placeholder"=>"Add finished ingredients", :class=>"form-control chosen chosen-select chosen-select-no-results chosen-select-no-single chosen-select-deselect", multiple: true}
            %>
          <span class="help-block"></span>
        </div>

      </div>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary', :id => 'meal-submit' %>
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% content_for :javascript do %>
  <script>
    <%= render :partial => "form.js", :formats => [:js] %>
  </script>
<% end %>
