<%= form_for @meal, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :chef, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :chef, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date %>
    </div>
  </div>

  <div class="control-group">
  <%= f.label :diners_attending, :class => 'control-label' %>
  </div>
  <div>
    <%= 
      f.collection_check_boxes :diner_ids, Diner.all, :id, :name do |diner|
        diner.label { diner.check_box + " " + diner.text }
      end
    %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                meals_path, :class => 'btn' %>
  </div>
<% end %>
