<%- model_class = Meal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:chef) %></th>
      <th>All Ingredients Finished?</th>
      <th>Cost</th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= link_to meal.name, meal_path(meal) %></td>
        <td><%= link_to meal.chef, meal.chef %></td>
        <td><%= meal.all_ingredients_finished? %></td>
        <td><%= meal.all_ingredients_finished? ? number_to_currency(meal.cost) : 'Some ingredients are not finished' %></td>
        <td><%= meal.date.to_date.to_s %></td>
        <td>
          <% if verify_yourself_or_group_admin(meal.owner.id) || verify_yourself_or_group_admin(meal.chef.id) %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_meal_path(meal), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        meal_path(meal),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_meal_path,
            :class => 'btn btn-primary', :id=>"new-meal-btn" %>
<%= render :partial => "form" %>

<script>
  $("#new-meal-btn").click(function(event){
    event.preventDefault();
    $("#create-meal-form").modal('show');
  });
</script>
