<%- model_class = Meal -%>
<div class="page-header">
  <h1>Meal Summary</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:chef) %>:</strong></dt>
  <dd><%= link_to @meal.chef, @meal.chef %></dd>
  <dt>Owner</dt>
  <dd><%= link_to @meal.owner, @meal.owner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @meal.date.to_date.to_s %></dd>
  <dt>Cost</dt>
  <dd><%= @meal.all_ingredients_finished? ? number_to_currency(@meal.cost) : 'Some ingredients are not finished' %></dd>
  <dt>Diners:</dt>
  <% @diners.each do |diner| %>
    <dd><%= link_to diner, diner %></dd>
  <% end %>
  <h2>Ingredients in this Meal</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Finished</th>
      <th>Total Servings</th>
      <th>Total Cost of Ingredient</th>
      <th>Cost towards this meal</th>
    </tr>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient %></td>
        <td><%= ingredient.finished ? 'yes' : 'no' %></td>
        <td><%= ingredient.servings %></td>
        <td><%= number_to_currency(ingredient.cost) %></td>
        <td><%= ingredient.finished ? number_to_currency(ingredient.cost_for_number_of_diners(@diners.count)) : 'Ingredient not finished' %></td>
      </tr>
    <% end %>
  </table>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              meals_path, :class => 'btn'  %>
  <% if verify_yourself_or_admin(@meal.owner.id) %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_meal_path(@meal), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                meal_path(@meal),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div>
