
<div class="page-header">
  <h1>Dashboard</h1>
  <div class="alert alert-info" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <b>Tip: </b>Create new meals and signup for existing meals by using the calendar.
  </div>

</div>
<div class="container">
  <div class="row">
    <div class = "col-md-4">
    <h3>Meal Summary</h3>
    <p> Highlighted days represent days that have meals. </p>
    <%=
      calendar(:year => Date.today.year, :month => Date.today.month) do |day|
        if @valid_dates.has_key?(day) 
          data_meal_id_string = "#{@valid_dates[day].join(",")}"
          [day.mday, {:class => "meal", :data_meal_ids => data_meal_id_string }]
        else 
          [day.mday]
        end
      end 
    %>

    </div>

    <div class="col-md-4">
      <h3>Balance Summary</h3>
      <div class="legend">
        <div class="green">Amount expected</div>
        <div class="red">Amount owed</div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @balances.each do |balance| %>
            <% if balance[:balance] > 0 %>
              <tr>  
                <td><%=link_to balance[:diner_name], diners_path(balance[:diner_id]) %></td>
                <td><span class="green"><%=number_to_currency balance[:balance]%></span></td>
                <td> <!--empty --> </td>
              </tr>
            <% elsif balance[:balance] < 0%>
              <tr>
                <td><%=link_to balance[:diner_name], diners_path(balance[:diner_id]) %></td>
                <td><span class="red"><%=number_to_currency -balance[:balance]%></span></td>
                <td>
                  <div class="btn-group">
                    <% amount = -balance[:balance] #we have to negate the balance they're paying if they're in debt %>
                    <% if balance[:venmo_token] %>
                      <%= link_to ("<small>Pay w/</small>"+image_tag('venmo-white.png')).html_safe, pay_with_venmo_path(to_diner_id: balance[:diner_id]), :method =>"post", :class => "btn btn-sm btn-venmo" %>
                      
                      <button type="button" class="btn btn-sm btn-venmo dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><%= button_to "Pay w/ cash", pay_path(to_id: balance[:diner_id], amount: amount), :class => "btn btn-sm btn-primary", :id=>"btn-cash", :method =>"post" %></li>
                        <li id="payment-form-wrapper">
                          <%= form_tag pay_path, :id=>"payment-form" do %>
                          <%= number_field_tag :amount, nil, :min => 0, :id=>"pay-amount-tooltip",:class=>"form-control", :data => {:placement=>"bottom", :toggle=>"tooltip"}, :title=>"Specify a particular amount to pay", step: 0.01 %>
                          <%= hidden_field_tag :to_id, nil, :value => balance[:diner_id] %>
                          <%= submit_tag "Pay", :class => 'btn btn-sm btn-primary' %>
                        <% end %>
                        </li>
                      </ul>
                    <% else %>
                      <%= link_to "Pay", pay_path(to_id: balance[:diner_id], amount: amount), :class => "btn btn-md btn-primary", :method =>"post" %>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li id="payment-form-wrapper">
                          <%= form_tag pay_path, :id=>"payment-form" do %>
                          <%= number_field_tag :amount, nil, :min => 0, :id=>"pay-amount-tooltip",:class=>"form-control", :data => {:placement=>"right", :toggle=>"tooltip"}, :title=>"Specify a particular amount to pay", step: 0.01 %>
                          <%= hidden_field_tag :to_id, nil, :value => balance[:diner_id] %>
                          <%= submit_tag "Pay", :class => 'btn btn-sm btn-primary' %>
                        <% end %>
                        </li>
                        <li> <button type="button" class="btn btn-link venmo-tooltip" data-toggle="tooltip" data-placement="right" <% if current_diner.venmo_token  %> title="Ask <%=balance[:diner_name]%> to setup venmo!" <% else %> title="Edit your profile to link Venmo" <% end %> >Pay w/ venmo</button></li>
                      </ul>

                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h3>Payment History</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |p| %>
            <tr>
              <td><%= p.created_at %></td>
              <td> 
              <% if p.from_id != current_diner.id %>
              <%= link_to(Diner.find(p.from_id).name, diner_path(p.from_id)) %> paid  <%= link_to(current_diner.name, diner_path(current_diner.id)) %> <%=number_to_currency p.amount %>
              <% else %>
              <%= link_to(current_diner.name, diner_path(current_diner.id)) %> paid <%=link_to(Diner.find(p.to_id).name, diner_path(p.to_id)) %>  <%=number_to_currency p.amount %>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> <!-- end row -->

  <!-- forms -->
  <%= render :partial => "join_meal" %>
  <%= render :partial => "form" %>
</div>
<% content_for :javascript do %>
   <script>
    $("#payment-form").click(function(e){
      $("#pay-amount-tooltip").tooltip("show");
      e.stopPropagation();
    });
     <%= render(:partial => "signup.js") %>
     $(".dropdown-menu").click(function(e){
        e.stopPropagation();//stops the dropdown menu from dissapearing
     });
     $(".venmo-tooltip").tooltip()
   </script>
<% end %>
