
<div class="page-header">
  <h1>Dashboard</h1>

</div>
<div class="container">
  <div class="row">
    <div class = "col-md-4">
    <h3>Meal Summary</h3>
    <p> Highlighted days represent days that have meals. </p>
    <%=
      calendar(:year => Date.today.year, :month => Date.today.month) do |day|
        if @valid_dates.include?(day)
          [day.mday, {:class => "meal" }]
        else 
          [day.mday, {} ]
        end
      end 
    %>

    </div>

    <div class="col-md-4">
      <h3>Balance Summary</h3>
      <div class="legend">
        <div class="green">Amount expected</div>
        <div class="red">Amount owed</div>
      </div>
      <table id="balances">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% balanceCount = 0 %>
          <% @balances.each do |balance| %>
            <% if balance[:balance] > 0 %>
              <tr>
                <td><%= link_to balance[:diner_name], diner_path(balance[:diner_id]) %></td>
                <td colspan="2"><span class="green"><%= number_to_currency balance[:balance] %></span></td>
              </tr>
              <% balanceCount+=1 %>
            <% elsif balance[:balance] < 0 %>
              <% balanceCount+=1 %>
              <tr>
                <td><%= link_to balance[:diner_name], diner_path(balance[:diner_id]) %></td>
                <td><span class="red"><%= number_to_currency -balance[:balance] %></span></td>
                <td>
                  <div class="btn-group">
                    <% amount = -balance[:balance] #we have to negate the balance they're paying if they're in debt %>
                    <% unless balance[:venmo_token] %>
                      <%= link_to ("<small>Pay w/</small>"+image_tag('venmo-white.png')).html_safe, pay_with_venmo_path(to_diner_id: balance[:diner_id]), :method =>"post", :class => "btn btn-sm btn-venmo" %>
                      
                      <button type="button" class="btn btn-sm btn-venmo dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><%= button_to "Pay w/ cash", pay_path(to_id: balance[:diner_id], amount: amount), :class => "btn btn-sm btn-primary", :id=>"btn-cash", :method =>"post" %></li>
                        <li id="payment-form-wrapper">
                          <%= form_tag pay_path, :id=>"payment-form" do %>
                          <%= number_field_tag :amount, nil, :min => 0, :id=>"pay-amount-tooltip",:class=>"form-control", :data => {:placement=>"bottom", :toggle=>"tooltip"}, :title=>"Specify a particular amount to pay", step: 0.01 %>
                          <%= hidden_field_tag :to_id, nil, :value => balance[:diner_id] %>
                          <%= submit_tag "Pay", :class => 'btn btn-sm btn-primary' %>
                        <% end %>
                        </li>
                      </ul>
                    <% else %>
                      <%= link_to "Pay", pay_path(to_id: balance[:diner_id], amount: amount), :class => "btn btn-md btn-primary", :method =>"post" %>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li id="payment-form-wrapper">
                          <%= form_tag pay_path, :id=>"payment-form" do %>
                          <%= number_field_tag :amount, nil, :min => 0, :id=>"pay-amount-tooltip",:class=>"form-control", :data => {:placement=>"right", :toggle=>"tooltip"}, :title=>"Specify a particular amount to pay", step: 0.01 %>
                          <%= hidden_field_tag :to_id, nil, :value => balance[:diner_id] %>
                          <%= submit_tag "Pay", :class => 'btn btn-sm btn-primary' %>
                        <% end %>
                        </li>
                        <li> <button type="button" class="btn btn-link venmo-tooltip" data-toggle="tooltip" data-placement="right" <% if current_diner.venmo_token  %> title="Ask <%=balance[:diner_name]%> to setup venmo!" <% else %> title="Edit your profile to link Venmo" <% end %> >Pay w/ venmo</button></li>
                      </ul>

                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
          <% if balanceCount==0%>
            <tr>
              <td colspan="3">
               <div class="alert alert-info" role="alert">
               <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                You have no balance history with any members of your group. 
              </br>Create new meals or signup for existing meals with the calendar.
              </div>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <h3>Payment History</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |p| %>
            <tr>
              <td><%= p.created_at %></td>
              <td>
                <%= link_to p.from, p.from %> paid <%= link_to p.to, p.to %>
                <%= number_to_currency p.amount %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div> <!-- end row -->

  <!-- forms -->
  <%= render :partial => "join_meal" %>
  <%= render "form" %>
</div>
<% content_for :javascript do %>
  <script type="text/javascript">
    $("#payment-form").click(function(e){
      $("#pay-amount-tooltip").tooltip("show");
      e.stopPropagation();
    });
    <%= render :partial => "signup.js", :formats => [:js] %>
    $(".dropdown-menu").click(function(e){
      e.stopPropagation();//stops the dropdown menu from dissapearing
    });
    $(".venmo-tooltip").tooltip()
  </script>
<% end %>
