<%- model_class = Meal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>

  <div class="alert alert-info" role="alert">
    <b>Pro-tip: </b>To create new meals on dates that already have meals, go to the Meals tab.
  </div>

  <div class="alert alert-warning alert-block" style="display:none;"role="alert">
    <b>Sorry </b>The calendar doesn't quite work yet! Right now the chef will keep track of who ate at what meal. This feature is coming soon!
  </div>
</div>
<div class="container">
  <div class="row">
    <div class = "col-md-4">
    <h3>Signup for Meals</h3>
    <p> Highlighted days represent days that have meals </p>
    <%=calendar(:year => Date.today.year, :month => Date.today.month) do |day|

            if @valid_dates.has_key?(day) 
              data_meal_id_string = "#{@valid_dates[day].join(",")}"
              [day.mday, {:class => "meal", :data_meal_ids => data_meal_id_string }]
            else 
              [day.mday]
            end
         end 
      %>

    </div>

    <div class="col-md-4">
      <h3>Who owes you</h3>
      <table>
      <tr>
        <th>Name</th>
        <th>Amount owed</th>
      </tr>
      <% Diner.where.not(id: current_diner.id).each do |diner| %>
        <tr>
          <td><%= link_to diner.name, diner %></td>
          <td><%= number_to_currency current_diner.request_payment_from(diner.id) %></td>
        </tr>
      <%end%>
      </table>
    </div>


    <div class="col-md-4">
      <h3>Who you owe</h3>
        <table>
        <tr>
          <th>Name</th>
          <th>Amount owed</th>
        </tr>
        <% @payments.each do |payment| %>
          <tr>  
            <td><%=link_to payment[:diner_name], diners_path(payment[:diner_id]) %></td>
            <td><%=number_to_currency payment[:owed_amount]%></td>
          </tr>
        <%end%>
        </table>
      </div>
    </div>
  </div>
<% content_for :javascript do %>
   <script>
     <%= render(:partial => "signup.js") %>
   </script>
<% end %>
