
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class=>"form-signin", :id =>"sign-in-form"}) do |f| %>
  <h2 class="form-signin-heading">Welcome Back!</h2>

  <%= f.email_field :email, :placeholder => "Email Address",  :class=> "form-control", autofocus: true %>
  <%= f.password_field :password, :placeholder => "Password", :class=> "form-control", autocomplete: "off" %>
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me%> <%= f.label :remember_me%>
  <% end %>
  <%= f.submit "Sign in" , :class=> "btn btn-primary btn-lg btn-block" %>
  <div class="pull-left">
    <%= render 'devise/shared/links' %>
  </div>

<% end %>