<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Ubuntu:400,700", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= nav_bar :fixed => :top, :brand => "Community" do %>
    <%= menu_group do %>
      <%= menu_item "Meals", meals_path %>
      <%= menu_item "Diners", diners_path %>
      <%= menu_item "Ingredients", ingredients_path %>
    <% end %>
    <%= render 'devise/menu/login_items' %>
  <% end %>
</head>
<body style="padding-top: 50px;">
<%= bootstrap_flash %>
<%= yield %>

<%= yield :javascript %>
</body>
</html>
