<!DOCTYPE html>
<html>
<head>
  <title>Community</title>
  <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Ubuntu:400,700", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= bootstrap_flash %>
<%= render 'devise/menu/login_items' %>
<%= yield %>

<script>
  $("div.alert").fadeOut(5e3, "swing");
</script>


<%= yield :javascript %>
</body>
</html>
